<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Holden Art"

>
  <image imageURL="images/robo-series1.jpg"
	thumbURL="thumbs/robo-series1.jpg"
	linkURL="images/robo-series1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\robo-series1.png">
    <title><![CDATA[robo-series1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3d-guy.jpg"
	thumbURL="thumbs/3d-guy.jpg"
	linkURL="images/3d-guy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\3d-guy.png">
    <title><![CDATA[3d-guy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/superslime.jpg"
	thumbURL="thumbs/superslime.jpg"
	linkURL="images/superslime.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\superslime.png">
    <title><![CDATA[superslime]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/underpants_villain.jpg"
	thumbURL="thumbs/underpants_villain.jpg"
	linkURL="images/underpants_villain.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\underpants_villain.png">
    <title><![CDATA[underpants_villain]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fringe.jpg"
	thumbURL="thumbs/fringe.jpg"
	linkURL="images/fringe.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\fringe.png">
    <title><![CDATA[fringe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hello_steve.jpg"
	thumbURL="thumbs/hello_steve.jpg"
	linkURL="images/hello_steve.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\hello_steve.png">
    <title><![CDATA[hello_steve]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/froggy.jpg"
	thumbURL="thumbs/froggy.jpg"
	linkURL="images/froggy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\froggy.png">
    <title><![CDATA[froggy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/something.jpg"
	thumbURL="thumbs/something.jpg"
	linkURL="images/something.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\something.png">
    <title><![CDATA[something]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/lobster.jpg"
	thumbURL="thumbs/lobster.jpg"
	linkURL="images/lobster.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\lobster.png">
    <title><![CDATA[lobster]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/meanwhile.jpg"
	thumbURL="thumbs/meanwhile.jpg"
	linkURL="images/meanwhile.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\meanwhile.png">
    <title><![CDATA[meanwhile]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/boom.jpg"
	thumbURL="thumbs/boom.jpg"
	linkURL="images/boom.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\boom.png">
    <title><![CDATA[boom]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/apple crumble monster.jpg"
	thumbURL="thumbs/apple crumble monster.jpg"
	linkURL="images/apple crumble monster.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\apple crumble monster.png">
    <title><![CDATA[apple crumble monster]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/who will win.jpg"
	thumbURL="thumbs/who will win.jpg"
	linkURL="images/who will win.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\who will win.png">
    <title><![CDATA[who will win]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/missing link.jpg"
	thumbURL="thumbs/missing link.jpg"
	linkURL="images/missing link.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\missing link.png">
    <title><![CDATA[missing link]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pine cones thrown by bigfoot.jpg"
	thumbURL="thumbs/pine cones thrown by bigfoot.jpg"
	linkURL="images/pine cones thrown by bigfoot.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\pine cones thrown by bigfoot.png">
    <title><![CDATA[pine cones thrown by bigfoot]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/the floor is lava.jpg"
	thumbURL="thumbs/the floor is lava.jpg"
	linkURL="images/the floor is lava.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\the floor is lava.png">
    <title><![CDATA[the floor is lava]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/family-vamps.jpg"
	thumbURL="thumbs/family-vamps.jpg"
	linkURL="images/family-vamps.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\family-vamps.png">
    <title><![CDATA[family-vamps]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/waving.jpg"
	thumbURL="thumbs/waving.jpg"
	linkURL="images/waving.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\waving.png">
    <title><![CDATA[waving]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/the-family-vol1.jpg"
	thumbURL="thumbs/the-family-vol1.jpg"
	linkURL="images/the-family-vol1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\the-family-vol1.png">
    <title><![CDATA[the-family-vol1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ahhh.jpg"
	thumbURL="thumbs/ahhh.jpg"
	linkURL="images/ahhh.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\ahhh.png">
    <title><![CDATA[ahhh]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/the-fly.jpg"
	thumbURL="thumbs/the-fly.jpg"
	linkURL="images/the-fly.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\the-fly.png">
    <title><![CDATA[the-fly]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/thefamily1.jpg"
	thumbURL="thumbs/thefamily1.jpg"
	linkURL="images/thefamily1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\thefamily1.png">
    <title><![CDATA[thefamily1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bigfoot.jpg"
	thumbURL="thumbs/bigfoot.jpg"
	linkURL="images/bigfoot.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\bigfoot.png">
    <title><![CDATA[bigfoot]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/head.jpg"
	thumbURL="thumbs/head.jpg"
	linkURL="images/head.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\head.png">
    <title><![CDATA[head]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/shadow.jpg"
	thumbURL="thumbs/shadow.jpg"
	linkURL="images/shadow.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\shadow.png">
    <title><![CDATA[shadow]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fishy.jpg"
	thumbURL="thumbs/fishy.jpg"
	linkURL="images/fishy.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\fishy.png">
    <title><![CDATA[fishy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/math-beaver.jpg"
	thumbURL="thumbs/math-beaver.jpg"
	linkURL="images/math-beaver.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\math-beaver.png">
    <title><![CDATA[math-beaver]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/basket.jpg"
	thumbURL="thumbs/basket.jpg"
	linkURL="images/basket.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\basket.png">
    <title><![CDATA[basket]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/great-fire-of-london.jpg"
	thumbURL="thumbs/great-fire-of-london.jpg"
	linkURL="images/great-fire-of-london.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\great-fire-of-london.png">
    <title><![CDATA[great-fire-of-london]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190510_0007.jpg"
	thumbURL="thumbs/IMG_20190510_0007.jpg"
	linkURL="images/IMG_20190510_0007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190510_0007.png">
    <title><![CDATA[IMG_20190510_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190510_0002.jpg"
	thumbURL="thumbs/IMG_20190510_0002.jpg"
	linkURL="images/IMG_20190510_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190510_0002.png">
    <title><![CDATA[IMG_20190510_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/more-shark-peril.jpg"
	thumbURL="thumbs/more-shark-peril.jpg"
	linkURL="images/more-shark-peril.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\more-shark-peril.png">
    <title><![CDATA[more-shark-peril]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190510_0004.jpg"
	thumbURL="thumbs/IMG_20190510_0004.jpg"
	linkURL="images/IMG_20190510_0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190510_0004.png">
    <title><![CDATA[IMG_20190510_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Year1.jpg"
	thumbURL="thumbs/Year1.jpg"
	linkURL="images/Year1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\Year1.png">
    <title><![CDATA[Year1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/meeguin.jpg"
	thumbURL="thumbs/meeguin.jpg"
	linkURL="images/meeguin.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\meeguin.png">
    <title><![CDATA[meeguin]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/newzealand.jpg"
	thumbURL="thumbs/newzealand.jpg"
	linkURL="images/newzealand.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\newzealand.png">
    <title><![CDATA[newzealand]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/wolves.jpg"
	thumbURL="thumbs/wolves.jpg"
	linkURL="images/wolves.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\wolves.png">
    <title><![CDATA[wolves]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190510_0001.jpg"
	thumbURL="thumbs/IMG_20190510_0001.jpg"
	linkURL="images/IMG_20190510_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190510_0001.png">
    <title><![CDATA[IMG_20190510_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190517_0002.jpg"
	thumbURL="thumbs/IMG_20190517_0002.jpg"
	linkURL="images/IMG_20190517_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190517_0002.png">
    <title><![CDATA[IMG_20190517_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/puffaroo.jpg"
	thumbURL="thumbs/puffaroo.jpg"
	linkURL="images/puffaroo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\puffaroo.png">
    <title><![CDATA[puffaroo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/shouting.jpg"
	thumbURL="thumbs/shouting.jpg"
	linkURL="images/shouting.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\shouting.png">
    <title><![CDATA[shouting]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190524_0001.jpg"
	thumbURL="thumbs/IMG_20190524_0001.jpg"
	linkURL="images/IMG_20190524_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190524_0001.png">
    <title><![CDATA[IMG_20190524_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/shark-peril.jpg"
	thumbURL="thumbs/shark-peril.jpg"
	linkURL="images/shark-peril.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\shark-peril.png">
    <title><![CDATA[shark-peril]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/happy-janmashtami.jpg"
	thumbURL="thumbs/happy-janmashtami.jpg"
	linkURL="images/happy-janmashtami.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\happy-janmashtami.png">
    <title><![CDATA[happy-janmashtami]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/character-sketches.jpg"
	thumbURL="thumbs/character-sketches.jpg"
	linkURL="images/character-sketches.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\character-sketches.png">
    <title><![CDATA[character-sketches]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190526_0001.jpg"
	thumbURL="thumbs/IMG_20190526_0001.jpg"
	linkURL="images/IMG_20190526_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\IMG_20190526_0001.png">
    <title><![CDATA[IMG_20190526_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/uni-action-beaver-drawing.jpg"
	thumbURL="thumbs/uni-action-beaver-drawing.jpg"
	linkURL="images/uni-action-beaver-drawing.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\uni-action-beaver-drawing.png">
    <title><![CDATA[uni-action-beaver-drawing]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/instructions-for-catapult.jpg"
	thumbURL="thumbs/instructions-for-catapult.jpg"
	linkURL="images/instructions-for-catapult.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\instructions-for-catapult.png">
    <title><![CDATA[instructions-for-catapult]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/my-fears.jpg"
	thumbURL="thumbs/my-fears.jpg"
	linkURL="images/my-fears.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\my-fears.png">
    <title><![CDATA[my-fears]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dream-house.jpg"
	thumbURL="thumbs/dream-house.jpg"
	linkURL="images/dream-house.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Rich\richiebandrew@gmail.com\Art\dream-house.png">
    <title><![CDATA[dream-house]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>