---
---

@import "{{ site.theme }}";

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

.fix{
    position:fixed;
    bottom:0px;
    left:50%;
}
<img src="assets/img/me.png" class="fix"/>